@page "/sayac"
<h3>Sayac</h3>
<div class="alert alert-info" role="alert" style="font-size:@size;">
    @counter
</div>

<button type="button" class="btn btn-@renk m-3" style="width:@width;" @onclick="interest">-</button>
<button type="button" class="btn btn-@renk" style="width:@width;" @onclick="add">+</button>
<div class="form-floating mb-3">
    <input type="text" class="form-control" @bind="@width" id="floatingInput" placeholder="400">
    <label for="floatingInput">Boyut</label>
</div>
<div class="form-floating">
    <input type="text" class="form-control" @bind="@renk" id="floatingPassword" placeholder="info">
    <label for="floatingPassword">Renk</label>
</div>
<div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" @bind="@size"placeholder="16">
    <label for="floatingPassword">Size</label>
</div>
@code {
    public string width { get; set; }="";
    public string renk { get; set; } = "info";
    public string size { get; set; } = "18";
    public int counter = 0;
    public void add()
    {
        counter++;
    }
    public void interest()
    {
        counter--;
    }
}
