@inherits BaseModalCompanent
<div class="card-body">
    <p>
        @Message
    </p>
</div>
<div class="row justify-content-center">
    <div class="d-flex">
        <div class="m-lg-auto p-2">
            <button class="btn btn-primary" @onclick="@ConfirmClicked">
                @YesText
            </button>
            <button class="btn btn-danger" @onclick="@ConfirmClicked">
                @NoText
            </button>
        </div>
    </div>
</div>
@code {
    public override Task SetParametersAsync(ParameterView parameters)
    {
        //Paremtre ataması yapılmasını sağlar
        Message = parameters.GetValueOrDefault<String>("Message") ?? "Evet mi Hayir mi";//String bir paremtre alınacığı ve Message anahatri ile alıncağı belirtilir ve dafault değrede atanır
        YesText = parameters.GetValueOrDefault<String>("Yes") ?? "Evet"; 
        NoText = parameters.GetValueOrDefault<String>("No") ?? "Hayır";

        return base.SetParametersAsync(parameters);
    }
}
